.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1em 0;
  padding: 1.5em 0;

  min-width: 200px;
  width: 30%;

  color: #fff;
  border: 3px solid var(--color-primary);
}

.image {
  margin: auto;
  width: 50%;
  padding: 2em;

  background: #fff;
  border-radius: 50%;
}

.image img {
  width: 100%;
  object-fit: contain;
}

.content {
  text-align: center;
  padding: 1em;
}

.content h3 {
  margin: 0;
  margin-top: 0.3em;
  font-size: 1.25rem;
  font-weight: 600;
}
.basicInfo {
  margin-top: 0.7em;
  margin-bottom: 1em;
}
.basicInfo > * {
  margin: 0.4em 0.5em;
}
.content .price {
  color: var(--color-primary);
  font-weight: 600;
}
.content .type {
  font-weight: 500;
}

.actions {
  text-align: center;
}

.actions button {
  padding: 0.5rem 1.5rem;

  font-family: var(--font-display);
  font-weight: 500;
  text-transform: uppercase;

  color: #fff;
  border: 1px solid var(--color-secondary);
  background: transparent;

  cursor: pointer;
  transition: all 0.22s ease-in-out;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-secondary);
}
