.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  width: 100%;

  background-color: var(--color-primary);
}

.logo {
  margin: 0;
  color: #fff;
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav li {
  margin-left: 0.3em;
  font-size: 1.3rem;
}

.nav a {
  display: block;
  position: relative;
  padding: 0.2em 1em;

  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

.mainNavItem a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 20%;
  height: 2px;
  width: 60%;

  opacity: 0;
  background: #fff;

  pointer-events: none;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
}
.mainNavItem a:hover::before {
  left: 50%;
  opacity: 1;
}

.nav .signInUp {
  margin: 0;
  padding: 0;
}
.signInUp li {
  font-family: var(--font-display);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  border: 2px solid #fff;
}

.signInUp a {
  position: relative;
  overflow: hidden;
}

.signUp {
  color: var(--color-primary);
  background: #fff;
}

.signIn a::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -50%;
  width: 200%;
  height: 300%;

  background: rgba(255, 255, 255, 0.35);

  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%) rotate(35deg);
}
.signIn a:hover::before {
  transform: rotate(35deg) translateX(0);
}
