.message {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);

  padding: 1.4em;
  width: 90%;

  font-family: var(--font-display);
  font-size: 1.2rem;
  font-weight: 500;

  background: var(--color-secondary);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);

  animation: examp 1s ease-in-out;
}

@keyframes examp {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
